<h1>User Show Page</h1>

Name: <%= current_user.name %><br>
Mood: <% if current_user.happiness > 3 %><br>
        <%= 'happy' %>
      <% else %>
        <%= 'Not happy' %>
      <% end %>
Tickets: <%= current_user.tickets %>
Height:  <%= current_user.height %>
<% if current_user.admin %>
ADMIN: <%= current_user.admin %>
<% end %>

<%= link_to "Log Out", signout_path, method: :delete %>
