<h1>User Show Page</h1>
<div>

  <%= flash[:notice] %>

</div>

<div>
  Name: <%= current_user.name %><br>
  Mood:    <%=  current_user.mood%><br>
  Tickets: <%= current_user.tickets %>
  Height:  <%= current_user.height %>
  <% if current_user.admin %>
  ADMIN: <%= current_user.admin %>
  <% end %>
</div>

<div class="">
  <%= link_to "Log Out", signout_path, method: :delete %>
  <%= link_to "See attractions", attractions_path  %>
</div>
