<div>
  <h1>Attraction Show Page</h1>
</div>
  <div>
    <p><strong>Name:</strong> <%= @attraction.name %></p>
    <p><strong>Nausea Rating:</strong> <%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating:</strong> <%= @attraction.happiness_rating %></p>
    <p><strong>Minimum Height:</strong> <%= @attraction.min_height %></p>
    <p><strong>Tickets:</strong> <%= @attraction.tickets %></p>
  </div>

  <% if current_user.admin %>
    <a href="/attractions/<%= @attraction.id %>/edit">Edit Attraction</a>
  <% else %>
    <%= form_tag({controller: 'rides', action: 'new'}, method: 'post') do %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :attraction_id, @attraction.id %>
      <%= submit_tag "Go on this ride" %>
  <% end %>

  <% end %>
